{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="h3 mb-3 font-weight-normal">Ideas list !</h1>
    <br>
    <ul>
        {% for idea in ideas %}
            <li><a href="{{ path('idea_detail', {'id': idea.id}) }}">{{ idea.title }} ({{ idea.category.name }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}{{ parent() }} | Ideas{% endblock %}